* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  background-color: #e69288;
}

.splash {
  background-color: #e69288;
  color: white;
  justify-content: center;
  align-items: center;
}

.splash h3 {
  font-size: 28px;
  font-weight: 300;
}

.splash h1 {
  font-size: 45px;
  font-weight: 300;
}

.btn_splash {
  height: 40px;
  width: 250px;
  background-color: #f86c57;
  color: white;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 16px;
}

.floating_button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #f86c57;
  color: white;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  transition-duration: 500ms;
}

#modal {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#addlist_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.171);
}

#addlist_form h3 {
  font-weight: 500;
  text-align: center;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_group label {
  font-size: 16px;
  font-weight: 300;
}

.form_group input {
  height: 40px;
  padding: 0 16px;
  border-radius: 40px;
  border: 0.5px solid gray;
}

.form_group input:focus {
  outline: 1px solid #f86c57;
  border: none;
}

#addlist_form button {
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  width: 40%;
  margin-left: auto;
  background-color: #f86c57;
  color: white;
}

#modal_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(221, 217, 217, 0.425);
  z-index: -1;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.274);
  border-radius: 12px;
  padding: 20px;
}

.card small {
  text-align: center;
  font-weight: 300;
  color: gray;
  font-size: 14px;
}

.card div {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 500;
  height: 40px;
  align-items: center;
}

.card button {
  height: 40px;
  width: 40%;
  background-color: #f86c57;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  margin-left: auto;
}

.title {
  text-align: center;
  font-weight: 500;
}

#subtitle {
  text-align: center;
  font-weight: 300;
}

.subtitle_component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
